<footer>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab dignissimos laudantium maiores, eius illo veritatis eligendi blanditiis, quas quo exercitationem quis. Ratione sed consequatur omnis id architecto perspiciatis, illum eius</p>
</footer>
